.customesidebar1 .p-sidebar-header .p-sidebar-close {
    z-index: 33;
    color: #fff !important;
    height: 1rem !important;
    width: 1rem !important;
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    position: absolute !important;
    top: 3%;
    right: 5%
}

.customesidebar1 .p-sidebar .p-sidebar-header .p-sidebar-close,
.p-sidebar .p-sidebar-header .p-sidebar-icon {
    display: none;
}

.customesidebar1 .p-sidebar-header .p-sidebar-close:enabled:hover,
.customesidebar1 .p-sidebar-header .p-sidebar-icon:enabled:hover {
    background: transparent !important;
    box-shadow: none !important;
}

.customesidebar1 .p-sidebar-content {
    padding: 0 !important;
}

.customesidebar1 .p-sidebar-header {
    padding: 0 !important;
}

/* .custmBtn {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 0.729vw 1.250vw;
    display: inline-block;
    width: 171px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
} */

.custmBtn2 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 0.729vw 1.250vw;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.custmBtn3 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 0.729vw 1.250vw;
    display: inline-block;
    width: 171px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.dialogpoput .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    display: none !important;

}

.dialogpoput .p-dialog .p-dialog-header .p-dialog-title {
    display: none !important;
}

.dialogpoput .p-dialog-header {
    display: none !important;

}

.dialogpoput .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #113699 !important;
}

.dialogpoput .p-inputswitch .p-inputswitch-slider:before {
    height: 1.2rem !important;
}

.dialogpoput .p-inputswitch .p-inputswitch-slide {
    height: 25px !important;
}

.dialogpoput .p-inputswitch {

    height: 25px !important;
}

.dialogpoput .p-dialog .p-dialog-header {
    display: none !important;
}

.dialogpoput .p-dialog .p-dialog-content:last-of-type {
    border-bottom-right-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.dialogpoput .p-dialog .p-dialog-content {
    padding: 0 1.5rem 1.5rem 1.5rem !important;
}

.dialogpoput .p-dialog-content {
    border-radius: 7px;
}

/* datatable */
.custHeader .p-datatable .p-datatable-header {
    background-color: #FFFFFF !important;
    border: none !important;
    border-width: none !important;
}

.custHeader .p-column-filter-menu {
    display: none;
}

.custHeader .p-datatable .p-column-header-content {
    justify-content: space-between;
}

.custHeader .p-datatable .p-datatable-header {
    justify-content: space-between;
}

.custHeader .p-datatable .p-datatable-tbody>tr>td {
    padding: 10px 10px;
}


.custHeader .p-datatable .p-sortable-column-icon::before {
    content: "\e812";
    /* background-image: url("\e812"); */
}

/* datatable */

.newBnt {
    background-color: #113699;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    padding: 5px 10px;
    gap: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    border: 1px solid #113699;
}

@media only screen and (max-width: 991px) {

    .responsivepoup {
        width: 50vw !important
    }

    .dialogres {
        width: 45vw !important
    }
}

@media only screen and (max-width: 1280px) {

    .responsivepoup {
        width: 50vw !important
    }

    .dialogres {
        width: 45vw !important
    }
}